/*main*/
body {
    margin: 0;
    background-color: rgb(213, 223, 254);
    padding: 0;
    width: 100%;
    height: 100%
}

/*image/media*/
.about-image img{
    width: 300px;
    display: block;
    margin: 0 auto;
}

.intro-image {
    height:300px;
    width: 300px;
    object-fit: cover;
    border-radius: 0;
    border-radius: 15px;

    
}

.carousel-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display:inline;
  border: 3px white dashed;
  opacity: 1;
  transition: none;
}

.video {
    display: block;
    width: 100%;
    height: 600px;
    object-fit: cover;
    opacity: 90%;
}

.sidebar {
    position:fixed;
    top:0;
    left:-350px;
    width:350px;
    height:100vh;
    background-color:rgb(247, 220, 224);
    transition: left 0.3s ease;
}

.sidebar.open {
    left:0;
}

/*buttons*/
.close-button {
    background: none;
    border:none;
    font-size: 32px;
    cursor:pointer;
}

.contact-button {
    cursor: pointer;
    background: transparent;
    padding: 14px 16px;
    border:transparent;
    font-size:large;
    position:fixed;
    top:15px;
    right: 300px;
    color: white;
    text-shadow: 6px,6px,8px black;
    font-weight: 450px;
    position:absolute;

}

.experiance-button {
    cursor: pointer;
    background: transparent;
    padding: 14px 16px;
    border:transparent;
    font-size:large;
    position:fixed;
    top:15px;
    right: 180px;
    color:white;
    text-shadow: 6px, 6px, 8px black; 
    font-weight: 450;
    position: absolute;  
}

.porfolio-button {
    cursor: pointer;
    background: transparent;
    padding: 14px 16px;
    border:transparent;
    font-size:large;
    position:fixed;
    top:15px;
    right: 80px;
    color: white;
    text-shadow: 6px, 6px, 8px black;
    font-weight: 450;
    position: absolute;   
}

.arrow-left, .arrow-right {
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index:5;
}

.arrow-left {
    left: 10px;
}

.arrow-right {
    right:10px;
}

/*text*/
.page-description {
    font-size: 40px;
    font-family:'Dancing Script', curisve;
    font-weight: bold;
    text-align: left;
    max-width: 500px;
    line-height:1.6;
    top: 350px;
    left:80px;
    z-index: 10;
    color: rgb(225,225,225);
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
}

/*titles*/
.page-title {
    margin-top: 0px;
    text-shadow: 7px 7px 8px rgba(0, 0, 0, 0.2);
    background-color: rgb(213, 223, 254);
    padding: 15px;
    opacity: 0.90;
    color: white;
    cursor: pointer;
}

/*sections*/
.top-section {
    background-image: url("images/backg.JPG");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 20% 55%;
    border: 2px black dashed;
    border-radius: 10px;
    min-height: 500px;
}

.intro-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.carousel-row {
    position: relative;
    display:grid;
    grid-template-columns: repeat(3,minmax(200px,1fr));
    gap: 20px;
    width:1100px;
    height: auto;
    overflow-x: auto;
    padding: 60px;
}






